# SSH config file
# Specifies the algorithms and ciphers needed for the cisco routers, switches,
# and ubuntu servers
Include /etc/ssh/ssh_config.d/*.conf

Host *
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    KexAlgorithms=+diffie-hellman-group1-sha1
    Ciphers aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc
    HostKeyAlgorithms ssh-dss,ssh-rsa,rsa-sha2-512
